{% load static %}

<style>
    body{
    background-image:url({% static 'basic_pages/img/bg.gif' %});
    }
    a.search {
        background-image:url({% static 'basic_pages/img/searchbg.gif' %});
    }
    a.follow_us {
        background-image:url({% static 'basic_pages/img/follow_us.gif' %});
    }
    a.follow_us span {
	background-image:url({% static 'basic_pages/img/follow_usright.gif' %});
    }
    a.button {
        background-image:url({% static 'basic_pages/img/button.gif'%});
    }
    a.button span {
        background-image:url({% static 'basic_pages/img/buttonright.gif'%});
    }
    .btn {
        background-image:url({% static 'basic_pages/img/yellow_bth.jpg'%});
    }
    .ddsmoothmenu ul li {
	    background-image:url({% static 'basic_pages/img/sep.gif'%});
    }
    .ddsmoothmenu ul li a.home {
        background-image:url({% static 'basic_pages/img/home_icon.png'%});
    }
    .ddsmoothmenu ul li.dropdown a {
        background-image:url({% static 'basic_pages/img/down.png'%});
    }
    ul.toplinks li {
	    background-image:url({% static 'basic_pages/img/toplinksep.gif'%});
    }
    .top_search {
        background-image:url({% static 'basic_pages/img/topsearch.png'%});
    }
    .top_search input {
        background-image:url({% static 'basic_pages/img/txtbg.gif'%});
    }
    .pagination a.toc:hover, .pagination a.toc.selected {
	    background-image:url({% static 'basic_pages/img/slider_arrow.gif'%});
    }
    .crumb li.here_text {
        background-image:url({% static 'basic_pages/img/heretext.gif'%});
    }
    .crumb li {
        background-image:url({% static 'basic_pages/img/listbullet.gif'%});
    }
    .pagenation .bg {
        background-image:url({% static 'basic_pages/img/paginationbg.gif'%});
    }
    .frmlft_sec li input {
	    background-image:url({% static 'basic_pages/img/inputbg.gif'%});
    }
    .txtarea {
        background-image:url({% static 'basic_pages/img/textareabg.gif'%});
    }
    .time {
	    background-image:url({% static 'basic_pages/img/timebg.png'%});
    }
    a.like {
        background-image:url({% static 'basic_pages/img/like.gif'%});
    }
    a.dslike {
	background-image:url({% static 'basic_pages/img/dislike.gif'%});
    }
    a.sharetab {
        background-image:url({% static 'basic_pages/img/shricon.gif'%});
    }
    .embed {
        background-image:url({% static 'basic_pages/img/embedbg.gif'%});
    }
    .embed a {
        background-image:url({% static 'basic_pages/img/embed.gif'%});
    }
    a.add_to {
        background-image:url({% static 'basic_pages/img/add_to.gif'%});
    }
    .shareonbg {
	    background-image:url({% static 'basic_pages/img/shared_bg.gif'%});
    }
    a.link1 {
        background-image:url({% static 'basic_pages/img/icon1.gif'%});
    }
    a.link2 {
	    background-image:url({% static 'basic_pages/img/icon2.gif'%});
    }
    a.link3 {
        background-image:url({% static 'basic_pages/img/icon3.gif'%});
    }
    .sv_contsec li input {
	    background-image:url({% static 'basic_pages/img/shareinput.gif'%});
    }
    a.entertainment, a.readmore {
	    background-image:url({% static 'basic_pages/img/listarrow.gif'%});
    }
    .blogsideblock li {
	    background-image:url({% static 'basic_pages/img/bloglist.gif'%});
    }
    a.posted {
        background-image:url({% static 'basic_pages/img/usericon.gif'%});
    }
    a.comments {
        background-image:url({% static 'basic_pages/img/comment_icon.gif'%});
    }
    a.dt {
        background-image:url({% static 'basic_pages/img/date.gif'%});
    }
    .txtcomment {
        background-image:url({% static 'basic_pages/img/txtareabg1.gif'%});
    }
    a.vedio {
	    background-image:url({% static 'basic_pages/img/vedio.gif'%});
    }
    a.post {
        background-image:url({% static 'basic_pages/img/post_button.gif'%});
    }
    .cmntrply {
        background-image:url({% static 'basic_pages/img/comment_arrpw.gif'%});
    }
    a.rply {
        background-image:url({% static 'basic_pages/img/reply.gif'%});
    }
    a.btn1 {
        background-image:url({% static 'basic_pages/img/btnbg.gif'%});
    }
    .botbar {
	    background-image:url({% static 'basic_pages/img/barbg.gif'%});
    }
    #bottomcontianer {
        background-image:url({% static 'basic_pages/img/bottombg.gif'%});
    }
</style>